<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutpadrao}"
      lang="pt-br">

<head>
  <title>ShowGo | Comprar ou vender ingresso</title>
</head>

<body>

  <main layout:fragment="main" class="flex items-center justify-center min-h-screen px-4">

    <div class="w-full max-w-md border border-yellow-500 shadow-lg p-8 bg-white space-y-6">

      
<h1 class="text-3xl font-bold mb-6">O que você deseja fazer?</h1>
      <p class="text-sm font-semibold text-yellow-600">Escolha uma opção abaixo</p>

      <a href="/ingressos/novo" 
         class="flex items-center gap-5 p-5 border border-yellow-500 rounded-lg hover:bg-yellow-50 transition">
        <div class="bg-yellow-200 p-3 rounded-full text-2xl">🛒</div>
        <div>
          <p class="font-bold text-lg text-black">Comprar</p>
          <p class="text-sm text-yellow-700">Eu quero comprar um ingresso</p>
        </div>
      </a>

      <a href="/ingressos/novo" 
         class="flex items-center gap-5 p-5 border border-yellow-500 rounded-lg hover:bg-yellow-50 transition">
        <div class="bg-yellow-200 p-3 rounded-full text-2xl">💸</div>
        <div>
          <p class="font-bold text-lg text-black">Vender</p>
          <p class="text-sm text-yellow-700">Eu quero vender um ingresso</p>
        </div>
      </a>

    </div>

  </main>

</body>
</html>
