<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutpadrao}" lang="pt-br">

<head>
  <title>ShowGo | Lista de Eventos</title>
</head>

<body>
  <main layout:fragment="main" class="flex-1 ml-64 p-4 md:p-20 mt-10">

    <div class="border border-yellow-500 p-6 md:p-10 shadow-lg rounded-lg bg-white">

      <!-- Cabeçalho -->
      <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8">
        <h1 class="text-2xl md:text-3xl font-bold">Eventos</h1>

        <div class="flex gap-2 items-center">
          <a href="/eventos/novo"
            class="bg-yellow-500 text-black font-semibold px-3 py-2 rounded-lg text-sm whitespace-nowrap">
            Adicionar Evento
          </a>

          <a href="/relatorios/eventos-ingressos"
   class="bg-yellow-500 text-black font-semibold px-3 py-2 rounded-lg text-sm whitespace-nowrap"
   target="_blank">
   Relatório PDF
</a>

        </div>
      </div>


      <!-- Tabela Responsiva -->
      <div class="overflow-x-auto w-full">
        <table class="min-w-full text-left border border-yellow-500 rounded overflow-hidden shadow">
          <thead class="bg-yellow-500 text-black text-sm uppercase">
            <tr>
              <th class="px-4 py-3">ID</th>
              <th class="px-4 py-3">Nome</th>
              <th class="px-4 py-3">Data</th>
              <th class="px-4 py-3">Local</th>
              <th class="px-4 py-3">Descrição</th>
              <th class="px-4 py-3">Ações</th>
            </tr>
          </thead>
          <tbody th:if="${eventos.size() > 0}">
            <tr th:each="evento : ${eventos}" class="border-t border-yellow-500 hover:bg-black/10 transition">
              <td class="px-4 py-3" th:text="${evento.id}">1</td>
              <td class="px-4 py-3" th:text="${evento.nome}">Nome</td>
              <td class="px-4 py-3" th:text="${#temporals.format(evento.data, 'dd/MM/yyyy')}">Data</td>
              <td class="px-4 py-3" th:text="${evento.local}">Local</td>
              <td class="px-4 py-3" th:text="${evento.descricao}">Descrição</td>
              <td class="px-4 py-3 space-y-2 flex flex-col whitespace-nowrap">

                <a th:href="@{'/eventos/editar/' + ${evento.id}}" class="text-yellow-400 hover:underline">Editar</a>

                <a th:href="@{'/eventos/excluir/' + ${evento.id}}" class="text-red-500 hover:underline"
                  onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>

              </td>
            </tr>
          </tbody>
          <tbody th:if="${eventos.size() == 0}">
            <tr>
              <td colspan="6" class="px-4 py-6 text-center text-gray-300">Nenhum evento cadastrado.</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </main>
</body>

</html>