<header xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" th:fragment="header"
  class="bg-black border-b border-black shadow-lg fixed top-0 left-0 w-full z-30">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4">

    <!-- Busca de eventos -->
    <!-- <div class="relative w-1/2 max-w-md"> -->
     <!-- Busca de eventos (ADMIN) -->
<div sec:authorize="hasRole('ADMIN')" class="relative w-1/2 max-w-md">
  <form th:action="@{/eventos}" method="get" class="flex">
    <input name="q"
           type="search"
           placeholder="Pesquisar eventos..."
           th:value="${query} ?: ''"
           class="rounded-l-full px-3 py-2 text-black w-full border border-gray-600 bg-white" />
    <button type="submit"
            class="bg-yellow-500 text-black px-4 rounded-r-full border border-yellow-500 hover:bg-yellow-400 transition">
      🔍
    </button>
  </form>
</div>

<!-- Busca de eventos (Usuário Comum) -->
<div sec:authorize="!hasRole('ADMIN')" class="relative w-1/2 max-w-md">
  <form th:action="@{/eventos/publicos}" method="get" class="flex">
    <input name="q"
           type="search"
           placeholder="Pesquisar eventos..."
           th:value="${query} ?: ''"
           class="rounded-l-full px-3 py-2 text-black w-full border border-gray-600 bg-white" />
    <button type="submit"
            class="bg-yellow-500 text-black px-4 rounded-r-full border border-yellow-500 hover:bg-yellow-400 transition">
      🔍
    </button>
  </form>
</div>
    <!-- </div> -->

    <div class="flex items-center space-x-3">

  <!-- Botão Entrar só para não autenticados -->
  <a href="/login" sec:authorize="isAnonymous()"
    class="bg-yellow-500 text-white border border-yellow-500 rounded-full px-6 py-3 hover:bg-yellow-600 transition">
    Entrar
  </a>

  <!-- Se estiver autenticado, mostra o email e o botão Comprar/Vender -->
  <div sec:authorize="isAuthenticated()" class="flex items-center space-x-4">

    <!-- Email do usuário -->
    <span class="text-white mr-4" sec:authentication="principal.username"></span>

    <!-- Botão Comprar/Vender -->
    <a href="/ingressos/anunciar"
      class="bg-yellow-500 text-white border border-yellow-500 rounded-full px-6 py-3 hover:bg-yellow-600 transition">
      COMPRAR | VENDER
    </a>
  </div>

</div>
</header>
