<aside th:fragment="sidebar" class="hidden md:block w-64 bg-blue-900 shadow h-full fixed top-0 left-0 pt-20 px-6">
  <nav class="space-y-6">

    <div>
      <h2 class="text-white font-semibold mb-2">Eventos</h2>
      <a href="/eventos" class="block text-white hover:text-blue-300 transition pl-2">Listar eventos</a>
      <a href="/eventos/novo" class="block text-white hover:text-blue-300 transition pl-2">Adicionar evento</a>
    </div>

    <div>
      <h2 class="text-white font-semibold mb-2">Ingressos</h2>
      <a href="/ingressos" class="block text-white hover:text-blue-300 transition pl-2">Listar ingressos</a>
      <a href="/ingressos/novo" class="block text-white hover:text-blue-300 transition pl-2">Adicionar ingresso</a>
    </div>

    <div>
      <h2 class="text-white font-semibold mb-2">Transações</h2>
      <a href="/transacoes" class="block text-white hover:text-blue-300 transition pl-2">Histórico</a>
    </div>

    <div>
      <h2 class="text-white font-semibold mb-2">Usuário</h2>
      <a href="/usuarios" class="block text-white hover:text-blue-300 transition pl-2">Listar usuários</a>
      <a href="/usuarios/novo" class="block text-white hover:text-blue-300 transition pl-2">Adicionar usuário</a>
      <a href="#" class="block text-white hover:text-blue-300 transition pl-2">Sair</a>
    </div>

  </nav>
</aside>
